*{
    margin:0;
    padding:0;
    text-align:center;
}
h1{
    color:white;
    background-color:#08130b;
    height:100px;
    line-height:100px;
    

}

img{
    height:150px;
    width:150px;
    border-radius:50%;
    object-fit:cover;
    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius:50%;
   
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.choice:hover{
    cursor:pointer;
    background-color:#08130b;

}
.choices{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    margin-top:70px;
}
.score-board{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:30px;
    margin-top:40px;
}